absl-py==0.9.0
asn1crypto==0.24.0
astunparse==1.6.3
attrs==19.1.0
autopep8==1.4.4
backcall==0.1.0
biopython==1.74
bleach==3.1.0
cachetools==3.1.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
click==7.1.2
colorama==0.4.1
cryptography==2.7
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
entrypoints==0.3
ERPpeek==1.7.1
Flask==1.1.2
Flask-Cors==3.0.8
gast==0.3.3
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.30.0
h5py==2.10.0
httplib2==0.14.0
idna==2.8
importlib-metadata==1.7.0
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.1
joblib==0.16.0
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
jwcrypto==0.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lxml==4.5.2
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.2
mistune==0.8.4
nbconvert==5.6.0
nbformat==4.4.0
notebook==6.0.1
npm==0.1.1
numpy==1.17.0
oauthlib==3.1.0
OdooRPC==0.7.0
opt-einsum==3.2.1
optional-django==0.1.0
pandas==1.0.5
pandas-datareader==0.9.0
pandocfilters==1.4.2
parso==0.5.1
pep8==1.7.1
pickleshare==0.7.5
pip-autoremove==0.9.1
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.12.2
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycodestyle==2.5.0
pycparser==2.19
Pygments==2.4.2
PyJWT==1.7.1
pyparsing==2.4.7
pyrsistent==0.15.4
python-dateutil==2.8.0
python-jwt==3.2.4
pytz==2019.2
pywinpty==0.5.5
pyzmq==18.1.0
qtconsole==4.5.5
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
scikit-learn==0.22.2.post1
scipy==1.4.1
Send2Trash==1.5.0
six==1.12.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.2.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
threadpoolctl==2.1.0
tornado==6.0.3
traitlets==4.3.2
tzlocal==2.0.0
uritemplate==3.0.0
urllib3==1.25.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
zipp==3.1.0
